$color: #67685f;
$back-color: #dddddd;
.week_calendar {
  overflow: scroll;
  border-radius: 1%;
  width: 95%;
  height: 70%;
  margin: 5% 0 0 3%;
  background: $back-color;
  color: $color;
}

.days {

  overflow: visible;
  width: 12.34%;
  display: inline-block;
  height: 20px;
  //border: 1px solid $color;

  p {
    width: 100%;
    text-align: center;

  }
  //p:hover{
  //  background: #bfbfbf;
  //}
}

.bl_times {
  width: 100.2%;
  color: #050505;
  display: grid;
  grid-template-columns: 12.45% 12.45% 12.45% 12.45% 12.45% 12.45% 12.45% 12.45%;
  grid-template-rows: repeat(48, 10%);
  position: relative;

}

.times {
  width: 100%;

  height: 100%;
  text-align: center;
  margin-top: 25%;
  border: 1px solid $color;
}

.n_days {
  position: relative;
  overflow: visible;
  width: 12.34%;
  display: inline-block;
  //border: 1px solid $color;
}

.bl_days {
  position: relative;
  background: linear-gradient(45deg, #dddddd, #bcbdb4);
  border: 1px solid $color;
  margin: 10% 0 -8% 3%;
  width: 93.9%;
  z-index: 500;
  p {
    text-align: center;
  }
}

.bl_days:hover {
  background-color: #bcbdb4;
}

.times:hover {
  background-color: #bcbdb4;
}

#tday {
  color: #73071a;
  margin-left: 40%;
  width: 20%;
  background: #767676;
  border-radius: 100%;
}
